<div class="jumbotron">
  <h1>Microblog</h1>
  <p>
    This is the home page for the microblog.
  </p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
  <%= link_to "Sign up now", signup_path, class:"btn, btn-lg btn-primary" %>
</div>
